{% extends 'employee_register/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-database"></i> Register</button>
    <button type="button" class="btn btn-warning"><i class="fa-solid fa-delete-left"></i> Clear</button>
    <a href="{% url 'employee_list' %}" class="btn btn-info" role="button"><i class="fa-solid fa-backward"></i> Go back</a>
</form>
{% endblock %}